apiVersion:  networking.k8s.io/v1
kind: Ingress
metadata:
  name: receiver
  namespace: flux-system
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: letsencrypt-issuer
    external-dns.alpha.kubernetes.io/target: 12406f4c-ecab-4674-a0ea-d4fb72f8f8e4.cfargotunnel.com
spec:
  tls:
  - hosts:
    - flux.axe.al
    secretName: flux-tls
  rules:
  - host: flux.axe.al
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: notification-controller-webhook
            port:
              number: 80
