apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 24h
  chart:
    spec:
      chart: traefik
      version: '37.4.0'
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: traefik
      interval: 24h
  values:
    deployment:
      kind: DaemonSet
    ingressClass:
      enabled: true
      isDefaultClass: false
      name: traefik
    gateway:
      enabled: false
    gatewayClass:
      enabled: false
    logs:
      access:
        enabled: true
    providers:
      kubernetesCRD:
        enabled: true
      kubernetesIngress:
        enabled: true
        ingressClass: traefik
    metrics:
      prometheus:
        serviceMonitor:
          enabled: true
    global:
      checkNewVersion: false
    service:
      annotations:
        lbipam.cilium.io/ips: "192.168.200.241"
