apiVersion: apps/v1
kind: Deployment
metadata:
  name: argo-tunnel
  namespace: cloudflared
  labels:
    app: argo-tunnel
spec:
  replicas: 2
  selector:
    matchLabels:
      app: argo-tunnel
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 0
  template:
    metadata:
      labels:
        app: argo-tunnel
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - argo-tunnel
            topologyKey: "kubernetes.io/hostname"
      containers:
        - name: cloudflared
          image: cloudflare/cloudflared:2025.9.1
          command: ["cloudflared"]
          args: ["tunnel", "--config", "/etc/cloudflared/config.yml", "run"]
          ports:
            - containerPort: 5000
              name: metrics
          volumeMounts:
            - name: cloudflared
              mountPath: "/etc/cloudflared"
              readOnly: true
          env:
            - name: NO_AUTOUPDATE
              value: "true"
            - name: TUNNEL_METRICS
              value: "0.0.0.0:5000"
            - name: TUNNEL_METRICS_UPDATE_FREQ
              value: "30s"
      volumes:
        - name: cloudflared
          projected:
            sources:
            - name: origin-cert
              secret:
                name: origin-cert
                items:
                - key: cert.pem
                  path: cert.pem
            - name: tunnel-credentials
              secret:
                name: tunnel-credentials
                items:
                - key: 4e66423e-bc9e-46b5-90fa-fe0744fb224c.json
                  path: credentials.json
            - name: cloudflared-config
              configMap:
                name: cloudflared-config
                items:
                - key: config.yml
                  path: config.yml
