apiVersion: v1
kind: ConfigMap
metadata:
  name: alloy-config
  namespace: pyroscope
data:
  config.alloy: |
    discovery.relabel "k3s_pprof_labels" {
      targets = [{
        __address__ = "127.0.0.1:6443",
        node        = sys.env("HOSTNAME"),
      },]

      rule {
        target_label = "job"
        replacement  = "k3s-pprof"
      }
    }

    pyroscope.scrape "k3s_pprof" {
      targets    = discovery.relabel.k3s_pprof_labels.output
      forward_to = [pyroscope.write.pyroscope.receiver]

      tls_config {
        insecure_skip_verify = true
      }

      profiling_config {
        profile.process_cpu {
          enabled = true
        }

        profile.godeltaprof_memory {
          enabled = true
        }

        profile.memory {
          enabled = false
        }

        profile.godeltaprof_mutex {
          enabled = true
        }

        profile.mutex {
          enabled = false
        }

        profile.godeltaprof_block {
          enabled = true
        }

        profile.block {
          enabled = false
        }

        profile.goroutine {
          enabled = true
        }
      }
    }

    pyroscope.write "pyroscope" {
      endpoint {
        url = "http://pyroscope.pyroscope.svc.cluster.local:4040"
      }
    }
