apiVersion: v1
kind: ConfigMap
metadata:
  name: alloy-config
  namespace: pyroscope
data:
  config.alloy: |
    discovery.static "k3s_pprof_targets" {
      targets = [
        {
          __address__ = "127.0.0.1:6443"
          node        = sys.env("HOSTNAME")
        },
      ]
    }

    discovery.relabel "k3s_pprof_labels" {
      targets = discovery.static.k3s_pprof_targets.targets

      rule {
        target_label = "job"
        replacement  = "k3s-pprof"
      }
    }

    pyroscope.scrape "k3s_pprof" {
      targets    = discovery.relabel.k3s_pprof_labels.output
      forward_to = [pyroscope.write.pyroscope.receiver]

      tls_config {
        insecure_skip_verify = true
      }

      profiling_config {
        profile.process_cpu {
          enabled = true
        }

        profile.godeltaprof_memory {
          enabled = true
        }

        profile.memory { // disable memory, use godeltaprof_memory instead
          enabled = false
        }

        profile.godeltaprof_mutex {
          enabled = true
        }

        profile.mutex { // disable mutex, use godeltaprof_mutex instead
          enabled = false
        }

        profile.godeltaprof_block {
          enabled = true
        }

        profile.block { // disable block, use godeltaprof_block instead
          enabled = false
        }

        profile.goroutine {
          enabled = true
        }
      }

    }

    pyroscope.write "pyroscope" {
      endpoint {
        url = "http://pyroscope.pyroscope.svc.cluster.local:4040"
      }
    }
