apiVersion: v1
kind: ConfigMap
metadata:
  name: alloy-config
  namespace: pyroscope
data:
  config.alloy: |
    discovery.kubernetes "local_pods" {
      role = "pod"
    }

    discovery.relabel "local_node" {
      targets = discovery.kubernetes.local_pods.targets

      rule {
        source_labels = ["__meta_kubernetes_pod_node_name"]
        regex         = env("HOSTNAME")
        action        = "keep"
      }

      rule {
        source_labels = ["__address__"]
        target_label  = "scrape_target"
        replacement   = "127.0.0.1:6443"
      }
    }

    pyroscope.scrape "k3s_pprof" {
      targets    = discovery.relabel.local_node.output
      forward_to = [pyroscope.write.pyroscope.receiver]

      tls_config {
        insecure_skip_verify = true
      }

      profile_cpu {
        path = "/debug/pprof/profile?seconds=15"
      }

      profile_memory {
        path = "/debug/pprof/heap"
      }

      profile_mutex {
        path = "/debug/pprof/mutex"
      }

      relabel_rules = [
        {
          source_labels = ["__meta_kubernetes_pod_node_name"]
          target_label  = "node"
        },
        {
          target_label  = "job"
          replacement   = "k3s-pprof"
        }
      ]
    }

    pyroscope.write "pyroscope" {
      endpoint {
        url = "http://pyroscope.pyroscope.svc.cluster.local:4040"
      }
    }
