apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: keycloak
  namespace: flux-system
spec:
  interval: 24h
  path: "./clusters/home.axe.al/infrastructure/keycloak"
  prune: true
  sourceRef:
    kind: GitRepository
    name: manifests
  timeout: 5m
